<strong><font size=6>Data Science Academy - Python Fundamentals - Capítulo 2</font></strong>

<strong><font size=4>Dicionários</font></strong>

In [37]:
# Isso é uma lista
estudantes_lista = ["Matheus", 24, "Vinícius", 27, "Tamires", 26, "Cristiano", 28]

In [38]:
# Imprimindo a lista
estudantes_lista

['Matheus', 24, 'Vinícius', 27, 'Tamires', 26, 'Cristiano', 28]

In [39]:
# Isso é um um dicionários
estudantes_dict = {"Matheus":24, "Vinícius":27, "Tamires":26, "Cristiano":28}

In [40]:
# Imprimindo o dicionário
estudantes_dict

{'Matheus': 24, 'Vinícius': 27, 'Tamires': 26, 'Cristiano': 28}

In [41]:
estudantes_dict["Matheus"]

24

In [42]:
estudantes_dict["Pedro"] = 23

In [43]:
estudantes_dict["Pedro"]

23

In [44]:
estudantes_dict["Tamires"]

26

In [45]:
estudantes_dict.clear()

In [46]:
estudantes_dict

{}

In [47]:
del estudantes_dict

In [48]:
estudantes = {"Matheus":24, "Vinícius":27, "Tamires":26, "Cristiano":28}

In [49]:
estudantes

{'Matheus': 24, 'Vinícius': 27, 'Tamires': 26, 'Cristiano': 28}

In [50]:
len(estudantes)

4

In [51]:
estudantes.keys()

dict_keys(['Matheus', 'Vinícius', 'Tamires', 'Cristiano'])

In [52]:
estudantes.values()

dict_values([24, 27, 26, 28])

In [53]:
estudantes.items()

dict_items([('Matheus', 24), ('Vinícius', 27), ('Tamires', 26), ('Cristiano', 28)])

In [54]:
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}

In [55]:
estudantes2

{'Maria': 27, 'Erika': 28, 'Milton': 26}

In [57]:
estudantes.update(estudantes2)

In [58]:
estudantes

{'Matheus': 24,
 'Vinícius': 27,
 'Tamires': 26,
 'Cristiano': 28,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [59]:
dic1 = {}

In [60]:
dic1

{}

In [61]:
dic1["key_one"] = 2

In [62]:
dic1[10] = 5

In [63]:
dic1

{'key_one': 2, 10: 5}

In [64]:
dic1[8.2] = "Python"

In [65]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python'}

In [66]:
dic1["teste"] = 5

In [67]:
dic1

{'key_one': 2, 10: 5, 8.2: 'Python', 'teste': 5}

In [68]:
dict1 = {}

In [69]:
dict1

{}

In [70]:
dict1["teste"] = 10

In [72]:
dict1["key"] = "teste"

In [74]:
#Atenção, pois chave e valor podem ser iguais mas represetnam coisas diferentes
dict1

{'teste': 10, 'key': 'teste'}

In [75]:
dict2 = {}

In [82]:
dict2["key1"] = "Big Data"

In [83]:
dict2["key2"] = 10

In [84]:
dict2["key3"] = 5.6

In [85]:
dict2

{'key1': 'Big Data', 'Key2': 10, 'Key3': 5.6, 'key2': 10, 'key3': 5.6}

In [86]:
a = dict2["key1"]

In [87]:
b = dict2["key2"]

In [88]:
c = dict2["key3"]

In [89]:
a, b, c

('Big Data', 10, 5.6)

In [91]:
#Dicionário de listas
dict3 = {'key1':1230, 'key2':[22, 453, 73,4], 'key3':['leite', 'maça', 'batata']}

In [92]:
dict3

{'key1': 1230, 'key2': [22, 453, 73, 4], 'key3': ['leite', 'maça', 'batata']}

In [93]:
dict3['key2']

[22, 453, 73, 4]

In [94]:
# Acessando um item da lista, dentro de um dicionário
dict3['key3'][0].upper()

'LEITE'

In [95]:
# Operações com itens da lista, dentro do dicionários
var1 = dict3['key2'][0] -2

In [96]:
var1

20

In [97]:
# Duas opções no mesmo comando, para atualizar um item dentro da lista
dict3['key2'][0] -= 2

In [98]:
dict3

{'key1': 1230, 'key2': [20, 453, 73, 4], 'key3': ['leite', 'maça', 'batata']}

<strong><font size=4>Criando dicionários aninhados<font></strong><br>

In [99]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada': 'Dict aninhado em Python'}}}

In [100]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [102]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

Fim!